<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | <%= config.backRecord %><br>
      </p>
    </div>
  </div>
</footer>