<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> |<a href="https://beian.miit.gov.cn/"><%= config.backRecord %></a><br>
      </p>
    </div>
  </div>
</footer>